    
      <% unless controller.controller_name == "lessons" && controller.action_name == "show" %>

    <!-- Main Nav -->
    <nav style="background:transparent; padding:20px; box-shadow:none;">
      <div class="nav-wrapper">
        <div class="container">
          <a href="/" class="brand-logo" style="font-weight:900; color:white;   font-family: 'Noto Sans', sans-serif;"><b>SwiftRuby</b></a>
          <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <% if current_user %>
              <li>
                <%= image_tag current_user.gravatar_url, class: "circle responsive-img user" , style: "height:31px; width:auto; padding:2px; margin-top:18px;" %>
              </li>
              <!-- Dropdown Trigger -->
              <li><a style="font-size:16px; color:white;" class="dropdown-trigger" href="#!" data-target="dropdown1">Hi, <%= current_user.first_name %><i style="color:white;" class="material-icons right">arrow_drop_down</i></a></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "white-text" %></li>
            <% else %>
            <li><a href="/users/sign_in" class="white-text"><i class="material-icons left white-text">account_circle</i>Log In</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <% end %>