<div class="header" style="padding:100px;">
  <div class="container">
    <div class="row">
      <center>
        <h2 style="color: lavender; font-family: 'Noto Sans', sans-serif;" class="white-text">Newsletter</h2>

      <div class="input-field col s12">
          <input style="background:white; border-radius:1000px;" placeholder="   Please Enter your Email Address" id="first_name" type="text" class="validate">
          <b><label style="color:white;" for="first_name">Email Address</label></b>
        </div>
              </center>
    </div>
  </div>
</div>
