<div class='container' style="padding-top:100px; padding-bottom:50px;">
  <div class="row" style="">
    <div class="col s12 m12 l4">
      <div class="card-panel z-depth-2">
        <b style="font-weight:900; font-size: 28px;"></b>
        <p class="flow-text" style="font-size:22px;">
          Ruby on Rails is an opinionated
          MVC framework that will change your coding journey for the best. 
        </p>
      </div>
    </div>
    <div class="col s12 m12 l4">
      <div class="card-panel z-depth-2">
        <b style="font-weight:900; font-size: 28px;">Frontend Design</b>
        <p class="flow-text" style="font-size:22px;">
          Build beautiful web applications with Rails and Bootstrap. 
          Once you get it, there is no turning back. 
        </p>
      </div>
    </div>
    <div class="col s12 m12 l4">
      <div class="card-panel z-depth-2">
        <b style="font-weight:900; font-size: 28px;">Architecture</b>
        <p class="flow-text" style="font-size:22px;">
          Ruby is a simple object oriented programming language that is easy to pick up and understand what is going on. 
        </p>
      </div>
    </div>
        <div class="col s12 m12 l4">
      <div class="card-panel z-depth-2">
        <b style="font-weight:900; font-size: 28px;">Architecture</b>
        <p class="flow-text" style="font-size:22px;">
          Ruby is a simple object oriented programming language that is easy to pick up and understand what is going on. 
        </p>
      </div>
    </div>
        <div class="col s12 m12 l4">
      <div class="card-panel z-depth-2">
        <b style="font-weight:900; font-size: 28px;">Architecture</b>
        <p class="flow-text" style="font-size:22px;">
          Ruby is a simple object oriented programming language that is easy to pick up and understand what is going on. 
        </p>
      </div>
    </div>
        <div class="col s12 m12 l4">
      <div class="card-panel z-depth-2">
        <b style="font-weight:900; font-size: 28px;">Architecture</b>
        <p class="flow-text" style="font-size:22px;">
          Ruby is a simple object oriented programming language that is easy to pick up and understand what is going on. 
        </p>
      </div>
    </div>   
     <div class="col s12 m12 l4">
      <div class="card-panel z-depth-2">
        <b style="font-weight:900; font-size: 28px;">Architecture</b>
        <p class="flow-text" style="font-size:22px;">
          Ruby is a simple object oriented programming language that is easy to pick up and understand what is going on. 
        </p>
      </div>
    </div>
       <div class="col s12 m12 l4">
      <div class="card-panel z-depth-2">
        <b style="font-weight:900; font-size: 28px;">Architecture</b>
        <p class="flow-text" style="font-size:22px;">
          Ruby is a simple object oriented programming language that is easy to pick up and understand what is going on. 
        </p>
      </div>
    </div>
       <div class="col s12 m12 l4">
      <div class="card-panel z-depth-2">
        <b style="font-weight:900; font-size: 28px;">Architecture</b>
        <p class="flow-text" style="font-size:22px;">
          Ruby is a simple object oriented programming language that is easy to pick up and understand what is going on. 
        </p>
      </div>
    </div>

    
  </div>
</div>
</div>
    <br>
    <br>
