  <div class="row">
  <div class="col s2 m2 l4">
  </div>
    <div class="col s2 m2 l4">
    <center><img style="padding:5px;" class="responsive-img" src="https://cdn4.iconfinder.com/data/icons/digital-marketing-gradient-rave-and-glow/512/Credit_Card-256.png"> </center>
   </div>
  </div>
