  <br>
    <center><h2 style="font-weight:900; font-size:40px;">What You Will Learn</h2></center>

  <div class="row" style="">
    <div class="col s12 m12 l12">
      <b style="font-weight:900; font-size: 28px;">Object Oriented Programming</b> 
      <p class="flow-text" style="font-size:22px;">
        OOP languages never seem to make any sense. Ruby on Rails is an opinionated
        MVC framework that will change your coding journey for the best. 
        Learn how to code with an intuitive framework that is both practical and easy to learn.
      </p>
      <b style="font-weight:900; font-size: 28px;">Frontend Design</b>
      <p class="flow-text" style="font-size:22px;">
        Build beautiful web applications with Rails and Bootstrap. 
        Once you get it, there is no turning back. Learning on Rails
        allows the developer to learn how to code quickly. 
      </p>
      <b style="font-weight:900; font-size: 28px;">Backend Architecture</b>
      <p class="flow-text" style="font-size:22px;">
        Ruby is a simple object oriented programming language that is easy to pick up and understand. Rails is
        an opinionated MVC framework that is written in ruby. Relational Database Architecture is a critical component
        of full stack development. You wil learn how to create reliable database systems with Active Record and Postgresql.
      </p>
      <b style="font-weight:900; font-size: 28px;">Deploy</b>
      <p class="flow-text" style="font-size:22px;">
        Making your Rails application live for the world to interact with is simple, and can be a critical 
        component of your business or service. The good thing about Rails is that it has been around for some time now and therefore there is a strong
        community and penty of resources that make your life as a RoR developer that much simpler.
      </p>
    </div>
  </div>
</div>