<div class="grey lighten-4">
<div class="container" style="padding-top:50px; padding-bottom:50px;">
  <div class="row">
    <div class="col s12 m12 l6">
      <div class="col s12 m12 l12">
        
        <h3 class="white-text"><b>An Online Coding Camp <br>
            <i><small>for Beginners</small></i></b>  <br>
          <small><i>Learn to Code using Rails 6</i></small></h3>
        <h6 class="title white-text">created by <i><b>@navidalexander</b></i>
          <img class="circle responsive-img" style="height:20px; margin-left:10px; width:auto; border: solid lightgrey 2px;" src="https://cdn3.iconfinder.com/data/icons/2018-social-media-logotypes/1000/2018_social_media_popular_app_logo_twitter-256.png">
        </h6>
        <br>
        <div class="btn btn-medium z-depth-3" style="border-radius:1000px; font-weight:100;">Get Started</div>
        <div class="btn btn-medium z-depth-3" style="margin-left:10px; border-radius:1000px; font-weight:100;">Learn More</div>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
</div>