<footer class="page-footer white">
    <div class="container" style="padding: 40px 0px;">
      <div class="row">
        <div class="col l4 s12">
          <h4 class="grey-text text-darken-3" style="font-family: 'Noto Sans', sans-serif;"><b>SwiftRuby</b></h4>
            <p class="flow-text black-text"><small>Coding Tutorials For Beginners</small></p>
        </div>
        <div class="col l1 s12">
       </div>
        <div class="col l3 s12">
          <h5 class="grey-text text-darken-3"><b>Resources</b></h5>
          <ul style="font-size:16px;">
            <li style="padding-top:2px; padding-bottom:2px;"><a style="padding-top:10px; padding-bottom:10px;" class="grey-text text-darken-3" href="#!">Our Mission</a></li>
            <li style="padding-top:2px; padding-bottom:2px;"><a style="padding-top:10px; padding-bottom:10px;" class="grey-text text-darken-3" href="#!">Testimonials</a></li>
            <li style="padding-top:2px; padding-bottom:2px;"><a style="padding-top:10px; padding-bottom:10px;" class="grey-text text-darken-3" href="#!">Social Media</a></li>
            <li style="padding-top:2px; padding-bottom:2px;"><a class="grey-text text-darken-3" href="#!">Get Involved</a></li>
          </ul>
        </div>
       
          <div class="col l3 s12">
            <h5 class="grey-text text-darken-3"><b>Social Media</b></h5>
            <ul style="font-size:16px;">
              <li style="padding-top:2px; padding-bottom:2px;"><a style="padding-top:10px; padding-bottom:10px;" class="grey-text text-darken-3" href="#!">LinkedIn</a></li>
              <li style="padding-top:2px; padding-bottom:2px;"><a style="padding-top:10px; padding-bottom:10px;" class="grey-text text-darken-3" href="#!">Twitter</a></li>
              <li style="padding-top:2px; padding-bottom:2px;"><a style="padding-top:10px; padding-bottom:10px;" class="grey-text text-darken-3" href="#!">Facebook</a></li>
              <li style="padding-top:2px; padding-bottom:2px;"><a style="padding-top:10px; padding-bottom:10px;" class="grey-text text-darken-3" href="#!">YouTube</a></li>
            </ul>
          </div>
      </div>
    </div>
    <div class="divider grey lighten-2" style="height:1px;"></div>
    <div class="footer-copyright black-text white" style="height:5px; padding:5px 0px;">
      <div class="container">
      © 2021 Copyright Text
      <a class="black-text right" href="#!">All Rights Reserved</a>
      </div>
    </div>
  </footer>